#user specific files
*.suo
*.user
*.sln.doc.states

# Visual studio profiler
*.psess
*.vsp
*.vspx
.vs/
ManagingProductsTest/obj/

*.csproj.nuget.dgspec.json
*.assets.json
*.nuget.cache

# Others
*.Cache
